h2{
    text-align: left;
    color: #373737;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
}
img{
    width: 40%;
    float: left;
    padding-right: 10px;
}
