
body{
    
    margin: 0;
    background-image: img width="40%" src="image/Free Vector _ Isolated construction site with workers.jpeg" alt="";
}
*{
    box-sizing: border-box;
}
.header{
    background-color:dimgrey;
    padding: 20px;
    text-align: center;
}
.toplink{
    background-color:antiquewhite;
    overflow: hidden;
}
.toplink a{
    color:black;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left
}
.toplink a:hover{
    color: rgb(17,17,17);
    background-color: azure;
    text-decoration: none;
}
.toplink-right{
    float: right;
}
.row:after{
    content:"";
    display: block;
    clear: both;
}

    .content{
    
        float: left;
        width: 70%;
        padding: 15px;
    }
    .sidebar{
    
        float: left;
        width:30%;
        padding: 15px;
    }

.footer{
    background-color: dimgrey !important;
    padding: 20px !important;
    text-align: center !important;
    color: rgb(233, 233, 233) !important;
   

}




@media screen and (max-width: 700px)  {
    .content, .side_bar, img{
        width: 100%;
    }
}
