table{
    border: 1px solid #373737;
    border-collapse: collapse;
    width: 70%;
}
td{
    border: 1px solid #373737;
    padding: 5px;
    text-align: left;
}
th{
    background-color:beige;
    color:#373737;
    border: 1px solid #373737;
    padding: 5px;
    text-align: left;
}
tr:nth-child(odd){
    background-color:rgb(232, 232, 226);
}
tr:hover{
    color:#373737;
    background-color: azure;
    text-decoration: none;
}